<!DOCTYPE html>
<!--suppress JSUnfilteredForInLoop -->
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51750724-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-51750724-7');
    </script>

    <meta charset="UTF-8">
    <title>Sync</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
          integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous"/>
    <style>
        .card-header {
            background-color: blue;
            color: white;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div id="app">
    <main class="container">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="flex-column" v-if="stat">
                            <div class="alert alert-secondary" role="alert">
                                Version: {{stat.last_sync}}
                            </div>
                        </div>
                        <div class="flex-column" v-if="stat">
                            <div class="alert alert-secondary" role="alert">
                               Jobs:<br>ETS: {{stat.total_offers[1]}}<br>ATS: {{stat.total_offers[2]}}
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-12">-->
<!--                    <div class="alert alert-danger" role="alert">-->
<!--                        We are working on update for 1.37 and ATS support. Please do not sync your save files till 12:00 UTC (+0)-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        Supported versions:<br>ETS: 1.37+<br>ATS: 1.37+
                    </div>
                </div>
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        You need to have g_save_format set to 2 in your game profile configuration<br>
                        <a href="#" data-toggle="modal" data-target="#howto">How to do that</a>
                        <a target="_blank" href="https://www.youtube.com/watch?v=C4167eC2YW8">(Video)</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Step 1: Select the game
                        </div>
                        <div class="card-body">
                            <input type="radio" class="ml-3" name="game" value="1" v-model.number="selectedGame"> Euro Truck Simulator
                            <input type="radio" class="ml-3" name="game" value="2" v-model.number="selectedGame"> American Truck Simulator
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Step 2: Select owned DLC`s
                        </div>
                        <div class="card-body">
                            <div class="card mb-1" v-if="expansionDlc[selectedGame].length > 0">
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted mb-2">Map expansion DLCs</h6>
                                    <div class="form-check" v-for="dlc in expansionDlc[selectedGame]">
                                        <input class="form-check-input" type="checkbox" v-model="dlc.IsSelected">
                                        <label class="form-check-label">
                                            {{dlc.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" v-if="cargoDlc[selectedGame].length > 0">
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted mb-2">Cargo pack DLCs</h6>
                                    <div class="form-check" v-for="dlc in cargoDlc[selectedGame]">
                                        <input class="form-check-input" type="checkbox" v-model="dlc.IsSelected">
                                        <label class="form-check-label">
                                            {{dlc.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" v-if="trailerDlc[selectedGame].length > 0">
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted mb-2">Trailer DLCs</h6>
                                    <div class="form-check" v-for="dlc in trailerDlc[selectedGame]">
                                        <input class="form-check-input" type="checkbox" v-model="dlc.IsSelected">
                                        <label class="form-check-label">
                                            {{dlc.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Step 3: Upload file
                        </div>
                        <div class="card-body">
                            <form enctype="multipart/form-data">
                                <input @change="filesChange($event.target);" class="btn btn-primary btn-lg btn-block"
                                       type="file">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="card">
                        <div class="card-header">
                            Step 4: Sync jobs
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                    :disabled="fileToUpload == null" v-on:click="syncJobs">Sync
                                jobs
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="px-3 d-flex justify-content-between">
            <div class="flex-column">
                <a href="https://github.com/ft-t/ets2-sync" target="_blank">
                    <img style="height: 57px;"
                         src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"
                         alt="github"/>
                </a>

                <!--<div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    English
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div>
            </div>-->
            </div>
<!--            <div class="flex-column">-->
<!--                Copyright-->
<!--            </div>-->
            <div class="flex-column justify-content-end">
                <a target="_blank" href="https://golang.org/">
                    <img style="height: 57px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Go_gopher_favicon.svg/1200px-Go_gopher_favicon.svg.png"
                         alt="golang"/>
                </a>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="howto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Guide</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="has-line-data" data-line-start="0" data-line-end="1">You need to open <code>config.cfg</code> in the game folder in Documents, and change <code>g_developer</code> to 1 (one), <code>g_save_format</code> to 2 (two), and <code>g_console</code> to 1 (one). Here’s a step-by-step on how to do those changes:</p>
                    <ol>
                        <li class="has-line-data" data-line-start="2" data-line-end="3">Make sure the game is closed. This won’t work if you do it with the game running.</li>
                        <li class="has-line-data" data-line-start="3" data-line-end="4">In the “Game Settings” panel, there is a line saying “Settings Folder: &lt;folder with your ETS2/ATS settings&gt; - Options”. Click “Options” → “Open game config file”. A Notepad window will appear, with the game settings file open.</li>
                        <li class="has-line-data" data-line-start="4" data-line-end="5">In that Notepad window, go to “Edit” → “Find…” (or hit Ctrl+F). In the search window, type <code>g_developer</code> (notice the underscore) and hit Enter. It should highlight a line in the file that reads <code>uset g_developer &quot;0&quot;</code>. If the number isn’t already <code>1</code>, change it to <code>1</code>, so that it reads <code>uset g_developer &quot;1&quot;</code>.</li>
                        <li class="has-line-data" data-line-start="5" data-line-end="6">Go to “Edit” → “Find…” (or hit Ctrl+F) again. In the search window, type <code>g_save_format</code> and hit Enter. It should highlight a line in the file that reads <code>uset g_save_format &quot;2&quot;</code> or another number. If the number is not zero, change the number to <code>0</code>, so that it reads <code>uset g_save_format &quot;0&quot;</code>.</li>
                        <li class="has-line-data" data-line-start="6" data-line-end="7">Go to “Edit” → “Find…” (or hit Ctrl+F) again. In the search window, type <code>g_console</code> and hit Enter. It should highlight a line in the file that reads <code>uset g_console &quot;0&quot;</code>. If the number isn’t already <code>1</code>, change it to <code>1</code>, so that it reads <code>uset g_console &quot;1&quot;</code>.</li>
                        <li class="has-line-data" data-line-start="7" data-line-end="8">Save the file and close Notepad.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"
        integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
        integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
<script>
    window.toTitleCase = (str) => {
        return str.split('_')
            .map(w => w[0].toUpperCase() + w.substr(1).toLowerCase())
            .join(' ')
    }
</script>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            apiUrl: "https://sync.qqw.ovh",
            //apiUrl: "http://127.0.0.1:8080",
            message: 'Hello Vue!',
            expansionDlc: {},
            cargoDlc: {},
            trailerDlc: {},
            fileToUpload: null,
            stat: null,
            selectedGame: 1
        },
        methods: {
            filesChange(e) {
                if (e == null || e.files == null || e.files.length === 0) {
                    toastr.error("invalid file");
                    return;
                }

                this.fileToUpload = e.files[0];

                if (this.fileToUpload == null || this.fileToUpload.size === 0) {
                    toastr.error("invalid file size");
                    // noinspection UnnecessaryReturnStatementJS
                    return;
                }
            },
            async syncJobs() {
                if (!this.fileToUpload) {
                    toastr.error("no file selected");
                    return;
                }

                try {
                    let formData = new FormData();
                    formData.append("savefile", this.fileToUpload);
                    formData.append("dlc", this.totalDlcValue);
                    formData.append("game", this.selectedGame);

                    let resp = (await axios.post(`${this.apiUrl}/save_upload`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }));

                    console.log(resp);

                    const filename = resp.headers["content-disposition"]
                        .split(';')
                        .find(n => n.includes('filename='))
                        .replace('filename=', '')
                        .trim();

                    saveAs(new Blob([resp.data], {type: "text/plain;charset=utf-8"}), filename);
                } catch (e) {
                    console.log(e);

                    toastr.error(e);
                }
            }
        },
        computed: {
            totalDlcValue() {
                let total = 1;

                if (this.expansionDlc[this.selectedGame]) {
                    for (let dlc of this.expansionDlc[this.selectedGame]) {
                        if (!dlc.IsSelected) {
                            continue;
                        }

                        total |= dlc.Value
                    }
                }

                if (this.cargoDlc[this.selectedGame]) {
                    for (let dlc of this.cargoDlc[this.selectedGame]) {
                        if (!dlc.IsSelected) {
                            continue;
                        }

                        total |= dlc.Value
                    }
                }

                if (this.trailerDlc[this.selectedGame]) {
                    for (let dlc of this.trailerDlc[this.selectedGame]) {
                        if (!dlc.IsSelected) {
                            continue;
                        }

                        total |= dlc.Value
                    }
                }

                return total;
            }
        },
        async created() {
            try {
                this.stat = (await axios.get(`${this.apiUrl}/stat`)).data;
            } catch (e) {
                toastr.error(e);
                console.log(e);
            }
            try {
                let values = (await axios.get(`${this.apiUrl}/dlc`)).data;
                for (let game in values) {
                    if(!this.expansionDlc.hasOwnProperty(game))
                        this.$set(this.expansionDlc, game, []);
                    if(!this.cargoDlc.hasOwnProperty(game))
                        this.$set(this.cargoDlc, game, []);
                    if(!this.trailerDlc.hasOwnProperty(game))
                        this.$set(this.trailerDlc, game, []);

                    for (let item in values[game][1]) {
                        let value = values[game][1][item];

                        this.expansionDlc[game].push({Name: toTitleCase(item), Value: value, IsSelected: false});
                    }
                    for (let item in values[game][2]) {
                        let value = values[game][2][item];

                        this.cargoDlc[game].push({Name: toTitleCase(item), Value: value, IsSelected: false});
                    }
                    for (let item in values[game][3]) {
                        let value = values[game][3][item];

                        this.trailerDlc[game].push({Name: toTitleCase(item), Value: value, IsSelected: false});
                    }
                }
            } catch (e) {
                toastr.error(e);
                console.log(e);
            }
        }
    })
</script>
</body>
</html>
